<!DOCTYPE html>
<html>
<head>
	<title>Yamaha Certificate Template</title>
	<!-- <style>
		
	</style> -->
</head>
<body>
	<div class="container">
		<h1>Certificate of Achievement</h1>
		<div class="cert-info">
			<p>This certifies that</p>
            <!-- <h1>name</h1> -->
            <span>Name</span>
		</div>
		<div class="cert-logo">
			<img src="../../../assets/yamhaha-cert-logo.png" height="50px" width="150px" alt="Yamaha Logo">
		</div>
		<div class="cert-signature">
			<img src="../../../assets/sign.PNG" alt="Signature">
		</div>
		<div class="cert-info">
			<p>has successfully completed the</p>
			<span>Yamaha Music Course</span>
			<p>with distinction on</p>
			<span>March 7, 2023</span>
		</div>
		
	</div>
</body>
</html>
