<div class="list-group">
    <br>
    <br>
    <br>
    <div style="text-align: center;">
    <a style="font-size: x-large; text-align: center; " href="#" (click)="downloadFile('sample.pdf')"><b>Download PDF</b></a><br/><br/>
</div>
<div style="text-align: center;">
    
    <a style="font-size: x-large; text-align: center;" href="#" (click)="downloadFile('sample.xlsx')"><b>Download Excel</b></a><br/><br/>

    <a style="font-size: x-large; text-align: center;" href="#" (click)="downloadFile('sample.csv')"><b>Download CSV</b></a><br/><br/>

</div>